<template name="adminMenu">
    <form id="praxe-form" action="action">
        <p><label>Praxe (há ou não praxe)<input type="checkbox" id="praxe-state"></label></p>

        <p><p>Motivo (só aparece quando não há praxe):</p><textarea id="praxe-reason" placeholder="Motivo" rows="5"></textarea></p>

        <p><p>Notificação (aparece sempre):</p><textarea id="praxe-notification" placeholder="Notificação" rows="5"></textarea></p>

        <p><input type="submit" id="praxe-reason" value="Atualizar"></p>
    </form>
</template>
